* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    letter-spacing: 1pt;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.kliner{
    clear:both;
}
body{
    padding-top: 103px;
    background-image: url('../sl/pozadina_kontakt.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: 100vh;
}
#main{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
header {
    position: fixed;
    background-color: rgba(6, 6, 6, 0.5);
    z-index: 5;
    top: 0px;
    width: 100%;
}
#nav_sve{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    margin: 0px auto;
}
#naslov {
    font-size: 35px;
    font-weight: bold;
    color:#f2f2f2;
    
}
nav li {
    display:inline-block;
}
nav a {
    font-size: 20px;
    padding: 30px;
    color: #f2f2f2;
    transition: color 0.3s ease;
}
nav ul{
    list-style-type: none; 
}

nav a:hover {
    color: #c9484a;
}
#cas{
    color: #f2f2f2;
    width:300px;
    position:relative;
    left:250px;
    top:250px;
}
#naslov a{
    color: #f2f2f2;
}
#naslov h1{
    padding: 10px;
        font-family: "Protest Revolution", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
#cas h2{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 45px;
}

#cas p{
    margin-top: 40px;
    width: 300px;
    letter-spacing: 2.3px;
}
.dugme{
    width: 200px;
    height: 50px;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    font-weight: 800;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 10px;
}
#izbor{
    background-image: url('../sl/klav.jpg');
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
}
.pomeraj{
    opacity: 0;                
    transform: translateX(-100%); 
    animation: fadeInFromLeft 1.2s ease-out forwards;
}
.dugme1{
    position: absolute;
    left: 180px;
    top: 320px;
}
.dugme2{
    position: absolute;
    left: 400px;
    top: 320px;
}
#pozicija{
    position:relative;
}
#pozicija a{
    color: #490506;
}
.dugme:hover {
    transform: scale(1.1);
    color: #f2f2f2;
    box-shadow: 0px 0px 15px 5px rgba(242, 242, 242, 0.7);
}
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
#usluge{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
}
#prof{
    height: 990px;
    padding-top: 10px;
}
.bgsekcija{
    width: 100%;
}
.info img{
    width: 460px;
    border-radius: 10%;
}
.info{
    width: 60%;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    padding-top: 130px;
    padding-left: 50px;
    box-sizing: border-box;
}
.opis{
    color: #f2f2f2;
    text-align: center;
}
#side{
    color: #f2f2f2;
    width: 35%; 
    height: 800px;
    margin-left: 70px;
    margin-top: -380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#side form{
    width: 50%; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 15px;
}
#side label {
    font-size: 16px;
    color: #f2f2f2;
}
#side input, #nastava {
    width: 100%; 
    padding: 10px;
    background-color: #333;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    border-radius: 5px;
    box-sizing: border-box; 
}
#button {
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    height: 70px;
}
.button_dole{
    margin-top: 50px;
}
#button:hover {
    background-color: #c9484a; 
}
#side, #ime, #mail, #tel{
    padding-top: 25px;
    margin-bottom: 25px;
}
.opis a {
    cursor: pointer;
    color: #f2f2f2;
    text-align: center;
}
.opis p{
    margin-top: 50px;
    text-align:center;
}
#zakazite_cas{
    border: 2px solid #c9484a;
    padding: 15px;
    border-radius: 2%;
    height: 100%;
    box-shadow: 0px 0px 20px 5px rgba(201, 72, 74, 0.7);
}
#prof h2{
    padding-top:100px;
    text-align: center;
    font-size: 50px;
    color: #f2f2f2;
}
#info_prof{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 100px auto 0px;
}  
.kartica{
    width: 350px;
    background-color: #999;
    border-radius: 5%;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.kartica img{
    width: 150px;
    border-radius: 50%;
    margin: 10px 10px;
    float: left;
    object-fit: cover;
    border: 3px solid #c9484a;
}
.kartica h3{
    font-size: 22px;
    text-align: center;
    margin: 10px 0;
    color: #333;
    border-bottom: 3px solid #c9484a;
    width: fit-content;
    padding-bottom: 5px;
}
.kartica h4{
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-top: auto;
}
.kartica:hover{
    transform: scale(1.05);
    box-shadow: 0 0px 50px rgba(201, 72, 74, 0.8);
}
.kartica p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
    margin-top: 40px;
}
.kartica p a{
    color: #555;
}
footer {
    background-color: #101010;
    color: #f2f2f2;
    padding: 40px 20px;
    text-align: center;
}

#footer_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin: 0 auto;
}

#footer_abt, #footer_link, #footer_kontakt, #footer_socials {
    flex: 1;
    min-width: 250px;
}

#footer_abt h2 {
    font-size: 36px;
    color: #c9484a;
    margin-bottom: 20px;
}

#footer_abt p {
    font-size: 16px;
    line-height: 1.5;
}

#footer_link h3, #footer_kontakt h3, #footer_socials h3 {
    font-size: 24px;
    margin-bottom: 40px;
    color: #f2f2f2;
}

#footer_link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer_link li {
    margin-bottom: 8px;
    text-align: left;
    padding-left: 167px;
}

#footer_link a {
    color:#888;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

#footer_link a:hover {
    color: #c9484a;
    text-decoration: underline;
}

#footer_kontak p {
    font-size: 16px;
}

#footer_kontak a {
    color: #f2f2f2;
    text-decoration: none;
}

#socials_ikonice{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer_socials a {
    font-size: 24px;
    color: #f2f2f2;
    transition: color 0.3s ease, transform 0.3s ease;
}

#footer_socials a:hover {
    transform: scale(1.2);
}

#footer_kopi {
    background-color: #181818;
    padding: 20px;
    margin-top: 20px;
}

#footer_kopi p {
    font-size: 14px;
    color: #c9484a;
}

#social_icon {
    color: #f2f2f2;
    transition: color 0.3s ease, transform 0.3s ease;
}

#footer_kontakt p a{
    color:#f2f2f2;
}
#footer_socials i{
    color: #c9484a;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 10px;
}
#zakazi_cas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../sl/footer_img.jpeg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
    border-top: 5px solid rgba(255, 255, 255, 0.4);
}

.zakazi_cas_sadrzaj {
    display: flex;
    justify-content: center;
    width: 100%;
}

.zakazi_tekst h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #f2f2f2;
    text-align: center;
}

.zakazi_tekst p {
    font-size: 20px;
    color: #f2f2f2;
    margin-bottom: 20px;
}

.zakazi_button {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.zakazi_button .dugme {
    display: inline-block;
    padding: 0.8em 1.5em;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all 300ms;
    text-align: center;
}

.zakazi_button .pozovi {
    background:transparent;
    border: 2px solid #f2f2f2;
    color: #f2f2f2;
}

.pozovi:hover {
    background-color: #c9484a;
    border:0px;
}

.zakazi_button .poruka {
    background: transparent;
    border: 2px solid #f2f2f2;
    color: #f2f2f2;
}

.zakazi_button .poruka:hover {
    background-color: #c9484a;
    border:0px;
}
.boja_selected{
    color: #c9484a;
}

/* GALERIJA */

#galerija{
    margin: 50px auto;
}
#galerija_sl {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    padding: 50px;
    justify-items: center;
    align-items: center;
}

.galerija_item {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 300ms;
}

.galerija_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
}

.galerija_item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

.galerija_item img:hover {
    transform: scale(1.05);
}
#header_gal {
    width: 21%;
    border-radius: 20px;
    margin: 0px auto;
    padding-top: 50px;
}
#header_gal h1 {
    font-size: 80px;
    color: #e2e2e2;
}

/* KONTAKT */
#forma_kontakt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0px auto;
    width: 80%;
    padding: 50px;
}
#kontakt_drzac h1 {
    width: 21%;
    border-radius: 20px;
    margin: 0px auto;
    padding-top: 50px;
    font-size: 80px;
    color: #e2e2e2;
}

#kontakt {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
}

#kontakt h2 {
    text-align: center;
}
#kontakt p {
    text-align: center;
    padding-bottom: 20px;
}
#drzac {
    flex-direction: column;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: 60%;
}

#faq, #radno_vreme {
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

#faq h3, #radno_vreme h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

#faq .pitanje_odgovor {
    margin-bottom: 15px;
}

#faq p, #radno_vreme ul li {
    color: #333;
    font-size: 16px;
}

#kontakt_forma {
    display: grid;
    justify-content: space-around;
}

#kontakt_forma label {
    font-size: 14px;
    color: #555;
    text-align: left;
    padding: 20px;
}

#kontakt_forma input, #kontakt_forma textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#kontakt_forma .dugme {
    grid-column: span 2;
    background-color: #c9484a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin: 40px auto 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    margin-top: 100px;
}

#kontakt_forma .dugme:hover {
    background-color: transparent;
    color: #c9484a;
}

#faq, #radno_vreme {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
#radno_vreme img{
    position: absolute;
    top: 55px;
    left: 500px;
    width: 90px;
    border: 2px solid #c9484a;
    border-radius: 50%;
}

#faq h3,
#radno_vreme h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.pitanje_odgovor {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pitanje_odgovor:last-child {
    border-bottom: none;
}

.pitanje_odgovor p {
    margin: 5px 0;
    color: #555;
}

#radno_vreme ul {
    list-style: none;
    padding: 0;
}

#radno_vreme ul li {
    color: #555;
    margin: 5px 0;
}
#mapa_lokacija{
    padding: 20px 180px 100px;
}
details {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

summary {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    padding: 5px;
}

summary:hover, details p a {
    color: #c9484a;
} 

/* O AUTORU */

.pozadina_svega{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    margin: 50px auto;
}
#autor{
    color: #e2e2e2;
    text-align: center;
}
#autor img{
    width: 250px;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-left: 100px;
}
#autor h1{
    padding-top: 20px;
    margin-left: 300px;
}
#autor p{
    width: 50%;
    padding-top: 100px;
    font-size: 20px;
}
#omeni{
    display: flex;
    justify-content: flex-start;
    gap:200px;
}

/* POGLEDAJ TERMINE */

#tabela_termini{
    height: 800px;
}
table {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    border-collapse: collapse;
    background: #f2f2f2;
}
th, td {
    border: 1px solid #d2d2d2dd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #c9484a;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #b9b9b9;
}
.note {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
#termini_naslov{
    background-color: #c9484a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
.prosledi_termin{
    margin-left: 48.7%;
    padding: 20px;
    margin-top: 0px;
}
td .fa-check{
    color: green;
    font-size: 20px;
}
td .fa-ban{
    color: red;
    font-size: 20px;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #c9484a;
    border-radius: 5px;
    background-color: #f2f2f2;
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

input[type="checkbox"]:checked {
    background-color: #c9484a;
    border-color: #000000;
}

input[type="checkbox"]:checked::before {
    content: '\2713'; 
    font-size: 16px;
    color: #f2f2f2;
    position: absolute;
    top: -2px;
    left: 3px;
}
  
/* PONUDE */


#ponude {
    padding: 60px 20px;
    text-align: center;
}

#ponude_kartica {
    display: flex;
    justify-content:center;
    gap: 100px;
    flex-wrap: wrap;
}
#ponude h1{
    color: #f2f2f2;
    font-size: 40px;
    margin-bottom: 50px;
}

.ponuda1 {
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 500ms;
    border: 2px solid #c9484a;
}

.ponuda1:hover {
    transform: translateY(-30px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

.ponuda1 h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #c9484a;
    font-weight: bold;
}

.opcija {
    margin-bottom: 20px;
}

.opcija h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.opcija p {
    font-size: 18px;
    color: #777;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #c9484a;
    color: #f2f2f2;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: all 500ms;
}

.button:hover {
    background-color: #9e2f2a;
    transform: scale(1.05);
}
#specijalna_ponuda {
    width: 350px;
    height: 500px;
    background-color: #ff4c4c;
    border-radius: 20px;
    padding: 35px;
    transition: all 500ms;
    border: 3px solid #f2f2f2;
    text-align: center;
    position: relative;
    margin-top: 50px; 
    background-image: linear-gradient(135deg, rgba(255, 50, 50, 0.8), rgba(255, 80, 80, 0.8));
}

#specijalna_ponuda:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); 
}

#specijalna_ponuda .badge {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff9f9f;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

#specijalna_ponuda .opcija h4 {
    font-size: 20px; 
    color: #f2f2f2;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 25px;
}

#specijalna_ponuda .opcija p {
    font-size: 18px; 
    color: #f2f2f2;
    margin-bottom: 15px;
    line-height: 1.3;
    margin-top: 30px;
}

#specijalna_ponuda .button {
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
    background-color: #ff9f9f; 
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: all 500ms;
}

#specijalna_ponuda .button:hover {
    background-color: transparent; 
    transform: scale(1.05); 
}
